.block {
  display: block;
  padding: 5vh 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  padding: 20px 0;
  display: inline-block;
  vertical-align: middle;
}

.blurb {
  font-size: 25px;
  padding: 20px 20px 40px;
  display: inline-block;
  max-width: 800px;
  text-align: justify;
}
